
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background-color: #0d96a9ed; 
}

header {
    background-color: #343a40; 
    padding: 1rem 0;
}

.navbar {
    padding: 0 1rem;
}

.navbar-brand {
    font-size: 1.75rem;
    color: #ffffff;
}

.nav-link {
    color: #ffffff !important;
}

.nav-link.active {
    font-weight: bold;
}

footer {
    background-color: #343a40;
    color: #ffffff;
    padding: 1rem 0;
    text-align: center;
}

/* Main Container */
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    background-color: #ffffff; 
    border-radius: 8px; 
}

h1, h2 {
    color: #007bff; 
}

h1 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 0.5rem;
}

.card {
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
    text-align: center; 
}


.card-img-container {
    width: 200px; 
    height: 150px; 
    overflow: hidden; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
}


.card-img-top {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.card-body {
    padding: 1rem;
}

.card-title {
    font-size: 1.25rem;
    color: #333;
}

.card-text {
    color: #666;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-secondary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

.btn-danger {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-danger:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-success {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-warning:hover {
    background-color: #007bff;
    border-color: #007bff;
}

.list-group-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 0.5rem;
}


footer p {
    margin: 0;
}